<%= form_with model: @Book do |f| %> 
  <div> 
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>

  <div>
  	<%= f.label :Opinion %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>